header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid black;
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin-right: 10px;
}

header nav {
  padding-right: 45px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;;
}
